body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* ШАПКА */
header {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    color: #00c3ff;
}

/* КОНТЕЙНЕР */
.container {
    padding: 20px;
}

/* СЕТКА КАРТОЧЕК */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* КАРТОЧКА */
.card {
    background: white;
    border-radius: 14px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* КАРТИНКА */
.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

/* КНОПКА */
button {
    margin-top: 8px;
    padding: 8px 12px;
    border: none;
    background: #2575fc;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1a5edb;
}

/* АДАПТИВ */
@media (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

